.reputation {
  padding-top: 60px;
  padding-bottom: 84px;
}

.reputation__title {
  padding-bottom: 50px;
}

.reputation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 66px;
  flex-wrap: wrap;
}

@media screen and (max-width: 806px) {
  .reputation__list {
    row-gap: 40px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .reputation {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  .reputation__title {
    padding-bottom: 38px;
  }
}
