.section-title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.section-title_color_light {
  color: #ffffff;
}
.section-title_color_ldark {
  color: #292e3d;
}

.section-title_position_center {
  text-align: center;
}

.section-title_position_left {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media screen and (max-width: 425px) {
  .section-title {
    font-size: 28px;
    line-height: 34px;
  }
}
